## Spam Detector
### `In this challenge  I am going to create a spam detector model`
#### Table of contents
- Collect the required data set [Dataset](https://www.kaggle.com/uciml/sms-spam-collection-dataset)
- Analyse it
- Build ML model using Naive Bayes classifier technique
- Build an api using Flask inorde to deploy our model to production

#### Load our imports

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

#### Load our data set

In [11]:
text_sms_data_set = pd.read_csv(os.path.join(os.path.pardir,'data','raw','spam.csv'),encoding = "ISO-8859-1")

text_sms_data_set.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

#### Drop null columns

In [12]:
text_sms_data_set.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [13]:
text_sms_data_set.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

#### Create a column name lable that maps ham: 0 & spam:1

In [31]:
text_sms_data_set['label'] = text_sms_data_set['v1'].map({'ham':0,'spam':1})

In [ ]:
text_sms_data_set.head()